.snsBar-container {
    display: inline-flex;
    justify-content: center;
    border: 5px solid #E0B185;
    border-radius: 5px;
    margin-top: 700px;
    background-color: #E0B185;
}
.snsImg {
    width: 100px;
    height: 100px;
    padding: 15px;
}