.snsBar-container {
    display: inline-flex;
    position: absolute;
    left: 928px;
    bottom: -150px;
    border: 5px solid #94b1c9;
    border-radius: 15px;
    background-color: #94b1c9;
    
      
}
.snsImg {
    width: 70px;
    height: 70px;
    padding: 15px;
}